.button {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid;
  border-color: inherit;
  border-radius: 5%;
  padding: 14px 23px;
  margin-top: 15px;
  display: inline-block;
}
