.button {
  font-size: 14px;
  font-family: "Roboto Condensed";
  line-height: 16.41px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid;
  border-color: inherit;
  border-radius: 5px;
  padding: 14px 52px;
  margin-top: 18px;
  display: inline-block;
}
