.feedback {
  background-color: $blue;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.feedback__wrapper {
  max-width: 1346px;
  padding: 80px 88px 103px;
  color: $white;
  display: flex;
  width: 100%;
  align-items: center;
}

.feedback__pic {
  height: 487px;
  width: 50%;
  background-image: url("../img/paper-airplane.png");
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: 38% 40%;
  z-index: 20;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: -29%;
    left: -17%;
    width: 101%;
    height: 131%;
    background-image: url("../img/left-two-triangles.png");
    background-repeat: no-repeat;
    background-size: 99% auto;
    background-position: center;
  }

  &::after {
    content: " ";
    position: absolute;
    top: -46px;
    right: -1105px;
    width: 509px;
    height: 669px;
    background-image: url("../img/right-two-triangles.png");
    background-repeat: no-repeat;
    background-size: 70%;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .feedback__pic {
    background-image: url("../img/paper-airplane2x.png");

    &::before {
      background-image: url("../img/left-two-triangles2x.png");
    }

    &::after {
      background-image: url("../img/right-two-triangles2x.png");
    }
  }
}

.feedback__form {
  max-width: 570px;
  width: 50%;
  margin-right: 10px;
  margin-left: 15px;

  h2 {
    font-size: 36px;
    line-height: 50.63px;
    font-weight: 400;
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 21.5px;
    padding-top: 10px;
    padding-bottom: 53px;
    margin: 0;
  }
}

@media (max-width: $tablet-width) {
  .feedback__wrapper {
    justify-content: center;
    padding: 80px 70px 103px;
  }

  .feedback__pic {
    display: none;
  }

  .feedback__form {
    width: 100%;
    max-width: 590px;
    margin-right: 7px;

    h2 {
      font-size: 32px;
      line-height: 45px;
      margin-left: -4px;
    }

    p {
      padding-top: 15px;
      padding-bottom: 55px;
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback__wrapper {
    padding: 29px 15px 43px;
  }

  .feedback__form {
    margin: 0;

    h2 {
      font-size: 28px;
      line-height: 38.39px;
      margin-left: 0;
    }

    p {
      padding-top: 15px;
      padding-bottom: 27px;
    }

    textarea {
      height: 80px;
    }
  }
}
