.form {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 47%;
    height: 50px;
    background-color: $input-blue;
    padding: 14px 18px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 40px;
    color: $white;

    &::placeholder {
      color: $white;
      opacity: 1;
    }

    &:first-child {
      margin-right: 6%;
    }
  }

  textarea {
    margin-bottom: 41px;
    max-width: 570px;
    width: 100%;
    background-color: $input-blue;
    padding: 14px 16px;
    border: none;
    color: $white;

    &::placeholder {
      color: $white;
      opacity: 1;
    }
  }
}

.form__fields-input {
  display: flex;
  width: 100%;
}

.form__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button {
    color: $white;
    background-color: transparent;
    width: 47%;
    margin-top: 0;

    &:hover {
      background-color: $input-blue;
    }
  }
}

.form__checkbox {
  font-size: 14px;
  line-height: 15.68px;
  padding-left: 32px;
  width: 46%;
  box-sizing: border-box;
  position: relative;

  input {
    margin: 0;
  }

  input + label {
    &::before {
      content: "";
      position: absolute;
      left: 3px;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $white;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      left: 8px;
      top: 6px;
      width: 13px;
      height: 10px;
      background-image: url("../img/icon-check.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      display: none;
    }
  }

  input {
    &:checked + label::after {
      display: block;
    }

    &:focus + label::before {
      outline: 1px solid #3b3a39;
      outline-offset: -1px;
    }

    &:hover + label::before {
      background-color: $input-blue;
    }
  }

  &--popup input + label {
    &::before {
      left: 0;
      top: 35px;
    }

    &::after {
      left: 4px;
      top: 40px;
    }
  }
}

.form__button-wrapper--popup {
  flex-direction: column;

  button {
    width: 100%;
  }
}

.form__fields-input--popup {
  flex-direction: column;

  input {
    width: 100%;
    margin-bottom: 30px;
    height: 53px;
    padding-left: 24px;

    &:first-child {
      margin-right: 0;
    }
  }
}

.form__checkbox--popup {
  width: 100%;
  color: $white;
  padding-top: 34px;
  padding-left: 48px;
}

@media (max-width: $tablet-width) {
  .form {
    input {
      margin-bottom: 43px;
    }

    textarea {
      margin-bottom: 48px;
    }

    button {
      letter-spacing: 0.05em;
    }
  }

  .form__checkbox input + label {
    &::before {
      left: -1px;
      top: 1px;
    }

    &::after {
      left: 5px;
    }
  }
}

@media (max-width: $mobile-width) {
  .form__fields-input {
    flex-direction: column;

    input {
      width: 100%;
      margin-bottom: 30px;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  .form textarea {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .form__button-wrapper {
    flex-direction: column;

    button {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .form__checkbox {
    width: 100%;
  }
}
