.products {
  background-color: $grey;
  display: flex;
  justify-content: center;
}

.products__wrapper {
  max-width: 1220px;
  padding: 87px 25px 99px;
  width: 100%;
  box-sizing: border-box;

  h2 {
    color: $white;
    font-size: 36px;
    font-weight: 400;
    line-height: 50.63px;
    padding-bottom: 52px;
    margin: 0;
  }
}

.products__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  grid-column-gap: 30px;
  justify-content: center;
}

.products__pic {
  width: 370px;
  height: 620px;
  display: block;
  background-repeat: no-repeat;
  position: relative;
  background-color: $light-grey;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(27, 45, 55, 0.7);
  }

  &:hover::before {
    background-color: transparent;
  }

  &--production {
    background-image: url("../img/boards-production1x.jpg");
  }

  &--instal {
    background-image: url("../img/boards-instal1x.jpg");
  }

  &--accessories {
    background-image: url("../img/accessories1x.jpg");
  }
}

.products__card {
  padding-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    width: 63px;
    height: 63px;
    right: 0;
    bottom: 30px;
    position: absolute;
    background-color: $blue;
    z-index: 5;
  }

  svg {
    bottom: 4%;
    right: 7.2%;
    position: absolute;
    width: 6px;
    height: 13px;
    fill: transparent;
    z-index: 7;
  }
}

.products__card-title {
  color: $white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 52px;
  left: 44px;
  padding-right: 134px;
  opacity: 1;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .products__pic {
    &--production {
      background-image: url("../img/boards-production2x.jpg");
    }

    &--instal {
      background-image: url("../img/boards-instal2x.jpg");
    }

    &--accessories {
      background-image: url("../img/accessories2x.jpg");
    }
  }
}

@media (max-width: $tablet-width) {
  .products__wrapper {
    padding: 48px 25px 34px;

    h2 {
      font-size: 32px;
      line-height: 45px;
      padding-right: 100px;
    }
  }

  .products__list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .products__pic {
    max-width: 720px;
    height: 256px;
    width: 100%;

    &--production {
      background-image: url("../img/boards-production1xtablet.jpg");
    }

    &--instal {
      background-image: url("../img/boards-instal1xtablet.jpg");
    }

    &--accessories {
      background-image: url("../img/accessories1xtablet.jpg");
    }
  }

  .products__card-title {
    width: 180px;
    top: 38px;
    left: 45px;
  }

  .products__card {
    padding-bottom: 45px;
    max-width: 720px;
    height: 256px;
    width: 100%;

    &::before {
      bottom: 45px;
    }

    &:nth-child(3) .products__card-title {
      top: 51px;
      left: 47px;
    }

    svg {
      bottom: 10%;
      right: 3.5%;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .products__pic {
      &--production {
        background-image: url("../img/boards-production2xtablet.jpg");
      }

      &--instal {
        background-image: url("../img/boards-instal2xtablet.jpg");
      }

      &--accessories {
        background-image: url("../img/accessories2xtablet.jpg");
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .products__wrapper {
    padding: 48px 15px 36px 15px;

    h2 {
      font-size: 28px;
      line-height: 39.38px;
      padding-right: 0;
      padding-left: 10px;
      padding-bottom: 41px;
    }
  }

  .products__pic {
    width: 100%;
  }

  .products__list {
    justify-items: unset;
  }

  .products__card-title {
    top: 20px;
    left: 35px;
    padding-right: 0;
  }

  .products__card {
    padding-bottom: 30px;

    &::before {
      bottom: 28px;
    }

    &:nth-child(3) .products__card-title {
      top: 29px;
      left: 35px;
    }

    svg {
      bottom: 9%;
      right: 10%;
    }
  }
}
